@tailwind base;

i {
  @apply text-blue-700 rounded-full;
}

i:hover {
  @apply text-white bg-blue-500 cursor-pointer transform ease-out duration-100;
}

i:active {
  @apply border shadow-inner shadow-lg transform ease-out duration-75 origin-bottom scale-95;
}

i[title='Complete']:after {
  content: 'radio_button_unchecked';
}

i[title='Complete']:hover:after {
  content: 'check';
}

button {
  @apply bg-transparent text-blue-700 font-semibold uppercase py-2 px-4 border border-blue-500 rounded text-xs shadow-md;
}

button:hover {
  @apply bg-blue-500 text-white border-transparent;
}

button:active {
  @apply border shadow-inner shadow-lg transform origin-bottom scale-95;
}

@md {
  button {
    @apply text-sm;
  }
}

@tailwind components;

@tailwind utilities;
