.alarm {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.alarm-active {
  display: block;
}

.alarm img {
  height: 3rem;
  border: 2px solid #77d42a;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}
